*{
    padding: 0;
    margin: 0;
    content: "text/html; charset=UTF-8";
}
@font-face {
    font-family: 'Boska';
    src: url('../fonts/Boska-Variable.ttf');
    font-weight: 350;
}

@font-face {
    font-family: 'Boska';
    src: url('../fonts/Boska-VariableItalic.ttf');
    font-weight: 350;
    font-style: italic;
}

@keyframes cycleCards {
    0% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        opacity: 1;
        z-index: 2;
    }
}

body {
    font-family: 'Boska';
    background-color: skyblue;
    padding: 5%;
    content: en;
}

html {
    scroll-behavior: smooth;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    font-family: 'Boska';
}

.main{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    width: 74%;
    height: fit-content;
}

section{
    align-self: stretch;
    scroll-margin-top: 2vh;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 4px 8px darkslategrey;
    padding-top: 6%;
    padding-bottom: 6%;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
    padding: 4%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

.project-card {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px skyblue;
    text-align: center;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.project-card:hover {
    box-shadow: 0 8px 16px skyblue;
}

.project-link{
    text-decoration: none;
    color: inherit;
}

.project-title{
    font-size: large;
}

.project-description{
    font-size: small;
}

.italic {
    font-style: italic;
}

.education-list {
    list-style-type: none;
    font-size: small;
}

.smaller-italic {
    font-style: italic;
    font-size: smaller;
}

.link-list{
    padding-top: 30px;
    padding-bottom: 30px;
}

.permanent-button span {
    display: flex;
    width: fill;
}

.rolling-button {
    background-color: grey;
    border-radius: 5px;
    color: white;
    padding: 1% 2%;
    text-align: left;
    text-decoration: none;
    width: 65%;
    display: flex;
    align-items: center;
    column-gap: 6px;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}

.rolling-button span {
    display: flex;
    width: fill;
}

.rolling-button:hover {
    width: 90%;
    background-color: skyblue;
    transition: width 2s ease;
    border: 1px solid black;
    box-shadow: 0 2px 4px grey;
}

.side-list {
    padding: 3px;
    list-style-type: none;
    vertical-align: middle;
}

.reading-list {
    padding: 5px;
    list-style-type: none;
    vertical-align: middle;
    font-size: small;
}

.sidebar-wrapper{
    width: 20%;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 5%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    height: fit-content;
}

.sidebar{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10%;
    background-color: #fff;
    float: left;
    box-shadow: 0 4px 8px darkslategrey;
}

.contact{
    font-size:medium;
}